html,
body {
  height: 100%;
}
body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.pointer {
  cursor: pointer;
}
.img-logo {
  padding-bottom: 20px;
  width: 150px;
}
h3.ui.header {
  color: #FFF;
  padding-bottom: 20px;
}
@media (min-width: 730px) {
  h3.ui.header {
    font-size: 3.28571429rem;
  }
}
@media (min-width: 1200px) {
  h3.ui.header {
    margin-left: 20%;
    margin-right: 20%;
  }
}
.ui.fixed.top.menu {
  background-color: #07BEB8;
}
.ui.fixed.top.menu .item {
  color: #FFFFFF;
}
.ui.fixed.top.menu .ui.popup .item {
  color: #000000;
}
.ui.fixed.top.menu #toggle {
  display: none;
}
@media (max-width: 768px) {
  .ui.fixed.top.menu .menu.right {
    display: none;
  }
  .ui.fixed.top.menu #toggle {
    display: block;
  }
}
.ui.sidebar.vertical.menu {
  padding-top: 70px;
}
.ui.sidebar.vertical.menu .item,
.ui.sidebar.vertical.menu .title {
  color: #FFFFFF;
  font-size: 14px;
}
.ui.sidebar.vertical.menu .title {
  padding: 0px 0px;
}
.ui.white.header {
  color: #FFFFFF;
}
.section {
  padding: 30px 10px;
}
.section.one {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/tim-gouw-splash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 2000px 0 0 0 #5a5a5ade;
}
.section.one.havelist {
  height: 200px;
}
.section.one .grid {
  padding: 20px;
}
.section.one .grid .header.title {
  font-size: 50px;
}
.section.one .grid .header.sub {
  font-size: 15px;
}
.section.one .grid .header.sub .upper {
  margin-top: 40px;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
}
.section.two {
  background-color: #FFFFFF;
  min-height: 450px;
}
.section.two .grid:not(.animated) {
  visibility: hidden;
}
.section.three {
  background-color: #FFFFFF;
  min-height: 450px;
}
.section.newlist {
  background-color: #464646;
}
.section.listitems {
  background-color: #FFFFFF;
  padding-bottom: 60px;
}
.section.copylink {
  padding-bottom: 0px;
  margin: 0px;
}
.section.six {
  background-color: #07BEB8;
  min-height: 450px;
}
#footer {
  text-align: center;
}
#footer a {
  color: #9c895f;
}
@media only screen and (min-width: 720px) {
  .additem {
    width: 450px !important;
    margin-right: 25px;
  }
}
@media only screen and (max-width: 720px) {
  .additem {
    width: 100%;
    margin-bottom: 12px;
  }
}
.remove {
  display: none !important;
}
.ui.inverted.button.itemadd {
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
}
.ui.secondary.button.itemadd {
  background-color: #FB8A59;
}
.pusher {
  flex: 1 0 auto;
}
.ui.checkbox.itemcheck {
  padding-top: 8px;
}
.ui.checkbox .hole {
  color: #cacaca;
}
/* Settings Bar */
#settingsbar {
  padding-right: 7px;
  padding-left: 7px;
}
@media only screen and (min-width: 720px) {
  #listname {
    position: absolute;
  }
}
@media only screen and (max-width: 720px) {
  #listname {
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 720px) {
  .sixteen.wide.column.aligned {
    text-align: right;
    -webkit-align-self: inherit;
    -ms-flex-item-align: inherit;
    align-self: inherit;
  }
}
/* Settings Modal */
.ui.right.floated.inverted.button {
  margin-top: 20px;
  margin-left: 10px;
}
.ui.form .field {
  margin: 0 0 1.5em;
}
.ui.form .field label.modalinvert {
  color: #fff;
  font-size: 1em;
  font-weight: 900;
  margin-bottom: 0.95714rem;
}
.ui.form .field .ui.transparent.inverted.input input {
  color: #fff;
  font-size: 1em;
  font-weight: 900;
  border-bottom-color: #cacaca !important;
  padding-bottom: 10px !important;
  border-bottom-width: 1px;
}
.ui.form .field .ui.transparent.inverted.input input:focus {
  border-bottom-color: white;
}
.ui.form .field .ui.transparent.inverted.input div {
  background-color: transparent;
  padding-top: 3px;
  padding-right: 0px;
  padding-left: 0px;
}
.ui.icon.header {
  padding-right: 21px;
}
