<div class="column">
  <a class="ui fluid card">
    <div class="blurring dimmable image">
      <div class="ui dimmer transition hidden">
        <div class="content">
          <div class="center">
            <div class="ui inverted button itemadd">Add</div>
          </div>
        </div>
      </div>
      <img src="assets/img/blog-3.jpg" alt="Blog image 3">
    </div>
    <div class="content">
      <div class="header">iPhone 7 protoype?</div>
      <div class="description" align="justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </div>
    </div>
  </a>
</div>
