{% assign i = items | size %}
{% for item in items reversed %}
{% decrement i %}
<div class="item-{{ i }} ui middle selection aligned divided list">
<div class="item">
  <div class="right floated content">
    <button class="ui icon button {% if item.up == true %}positive{% endif %}">
      <i class="vote arrow up icon" data-call="vote/{{ id }}/{{ i }}/1"></i>
    </button>
    <button class="ui icon button {% if item.down == true %}negative{% endif %}">
      <i class="vote arrow down icon" data-call="vote/{{ id }}/{{ i }}/0"></i>
    </button>
  </div>
  <div class="content listitems">
    <div class="inline field">
      <div class="ui checkbox">
        <input type="checkbox" id="item-{{ i }}" tabindex="0" class="hidden">
        <label>{{ item.label }}</label>
      </div>
    </div>
  </div>
</div>
</div>

<div class="guess-img-{{ i }} ui four column stackable grid">

</div>
{% endfor %}
