{% assign i = items | size %}
{% for item in items reversed %}
{% decrement i %}
<div class="item-{{ i }} ui middle selection aligned divided list">
  <div class="item">
    <div class="right floated content">
      <div class="ui icon buttons tiny">
        <button class="{% if item.up != true %}vote {% endif %}ui icon button {% if item.up == true %}positive{% endif %}" data-call="vote/{{ id }}/{{ i }}/1">
          {{ item.value }} <i class="arrow up icon"></i>
        </button>
        <button class="{% if item.down != true %}vote {% endif %}ui icon button {% if item.down == true %}negative{% endif %}" data-call="vote/{{ id }}/{{ i }}/0">
          <i class="arrow down icon"></i>
        </button>
      </div>
    </div>
    <div class="content listitems">
      <div class="inline field">
        <div class="ui checkbox itemcheck">
          <input type="checkbox" id="item-{{ i }}" tabindex="0" class="hidden">

          <label class="{% if item.value < 0 %}hole{% endif %}"> {{ item.label }}</label>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="guess-img-{{ i }} ui four column stackable grid">

</div>
{% endfor %}
